{% block footer %}
<!-- FOOTER -->
    <div id="footer">
        <div id="footer-wrapper">
          <ul id="follow">
            <li>
              <p>Follow us: </p>
            </li>
            <li><a href="view/libs/#"><img src="/view/libs/img/twitter.png" alt="" /></a></li>
            <li><a href="view/libs/#"><img src="/view/libs/img/facebook.png" alt="" /></a></li>
            <li><a href="view/libs/#"><img src="/view/libs/img/linkedln.png" alt="" /></a></li>
            <li><a href="view/libs/#"><img src="/view/libs/img/rss.png" alt="" /></a></li>
          </ul>
          <div class="footer-cols">
            <div>
              <ul>
                <li><a href="#" class="custom">Skins</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Autumn</a></li>
                <li><a href="#">Winter</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><a href="#" class="custom">Gallery</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Autumn</a></li>
                <li><a href="#">Winter</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><a href="#" class="custom">Blog</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Autumn</a></li>
                <li><a href="#">Winter</a></li>
              </ul>
            </div>
            <div class="last">
              <ul>
                <li><a href="#" class="custom">Text Styles</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Autumn</a></li>
                <li><a href="#">Winter</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p class="legal">&copy; Copyright 2012 <a href="#">Company Name</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></p>
          </div>
        </div>
    </div>
    <!-- ENDS FOOTER -->
    <!-- start cufon -->
    <script type="text/javascript">Cufon.now();</script>
    <!-- ENDS start cufon -->
</body>
</html>
{% endblock %}