{% extends "/libs/html/template.html" %}
{% block content %}
<!-- WRAPPER -->
  <!-- MAIN -->
  <div id="main">
    <!-- slideshow -->
    <div id="slideshow">
      <ul id="slides">
        <li><img src="/view/libs/slides/01.jpg" alt="" /></li>
        <li><img src="/view/libs/slides/02.jpg" alt="" /></li>
        <li><img src="/view/libs/slides/03.jpg" alt="" /></li>
      </ul>
      <span></span> <a href="view/libs/#"><img src="view/libs/img/prev-slide.png" alt="" id="prev" /></a> <a href="view/libs/#"><img src="view/libs/img/next-slide.png" alt="" id="next" /></a> </div>
    <!-- ENDS slideshow -->
    <p class="custom excerpt">Four different skins: <a href="view/libs/#">Spring</a>, <a href="view/libs/#">Summer </a>, <a href="view/libs/#">Autumn</a>, and <a href="view/libs/#">Winter. </a></p>
    <!-- blocks -->
    <div class="holder">
      <div class="block">
        <div class="thumb-holder"> <a href="/view/libs/gallery.html"><img src="/view/libs/img/dummies/dummy-block1.jpg" alt="" class="thumb" /> </a> </div>
        <h2 class="custom">RECENT ALBUMS</h2>
        <h5 class="custom color2">IMAGES AND VIDEOS</h5>
        <p class="thumb-text">Eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.Vestibulum sed neque ac magna feugiat eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.</p>
        <p><a href="/view/libs/gallery.html" class="more">More</a></p>
      </div>
      <div class="block">
        <div class="thumb-holder"> <a href="/view/libs/gallery.html"><img src="/view/libs/img/dummies/dummy-block2.jpg" alt="" class="thumb" /> </a> </div>
        <h2 class="custom">FROM THE BLOG</h2>
        <h5 class="custom color2">POSTS FROM THE BLOG</h5>
        <p class="thumb-text">Eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.Vestibulum sed neque ac magna feugiat eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.</p>
        <p><a href="/view/libs/gallery.html" class="more">More</a></p>
      </div>
      <div class="block last">
        <div class="thumb-holder"> <a href="/view/libs/gallery.html"><img src="/view/libs/img/dummies/dummy-block1.jpg" alt="" class="thumb" /> </a> </div>
        <h2 class="custom">RECENT NEWS</h2>
        <h5 class="custom color2">NEWS AND EVENTS</h5>
        <p class="thumb-text">Eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.Vestibulum sed neque ac magna feugiat eleifend et eu est. Aenean tortor eros, sodales at bibendum vulputate, porttitor.</p>
        <p><a href="/view/libs/gallery.html" class="more">More</a></p>
      </div>
    </div>
    <!-- ENDS blocks -->
  </div>
  <!-- ENDS MAIN -->
</div>
<!-- ENDS WRAPPER -->

{% endblock %}
